section.canhcam-testimonials-1(bg-img="./img/bg/behind.jpg")
	.container
		//- .row
		//- 	.col
		//- 		.bg-img
		//- 			img.img-fluid(src="./img/bg/frame.png", alt="")
		//- 		.row
		//- 			.col.text-center
		//- 				h2 RESERVATION
		//- 		.row
		//- 			.col
		//- 				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis necessitatibus non, modi 
		//- 		.row
		//- 			.col.col-md-6.text-center.text-md-left
		//- 				a(href="#")
		//- 					button.btn MAKE RESERVATION


		.row
			.col
				.bg
					img.img-fluid(src="./img/bg/frame.png", alt="")
					.row.inside.head
						.col.text-center
							h2 Sole Meunirère
					.row.inside.body
						.col-6
						.col-6
							p Fish role dredged in flour, pan fried in butter and served with the resulting mushroom sauce, parsley and lemon
					.row.inside.but
						.col-12.col-md-6
						.col-12.col-md-6.text-center.text-md-left
							a(href="#")
								button.btn MAKE REASERVATION
		.row
			.col
				.testimonial-slider.owl-carousel
					figure.item
						img.img-fluid(src='./img/bg/product_3.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90
					figure.item
						img.img-fluid(src='./img/bg/product_2.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90
					figure.item
						img.img-fluid(src='./img/bg/product_1.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90
					figure.item
						img.img-fluid(src='./img/bg/product_3.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90
					figure.item
						img.img-fluid(src='./img/bg/product_2.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90
					figure.item
						img.img-fluid(src='./img/bg/product_1.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90
					figure.item
						img.img-fluid(src='./img/bg/product_3.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90


