section.canhcam-testimonials-1(bg-img="./img/bg/behind.jpg")
	.container
		.row
			.col
				.bg-img
					h2 RESERVATION
					img.img-fluid(src="./img/bg/frame.png", alt="")
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis necessitatibus non, modi 
					a(href="#")
						button.btn MAKE RESERVATION
		.row
			.col
				.testimonial-slider.owl-carousel
					figure.item
						img.img-fluid(src='./img/bg/product_3.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90
					figure.item
						img.img-fluid(src='./img/bg/product_2.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90
					figure.item
						img.img-fluid(src='./img/bg/product_1.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90
					figure.item
						img.img-fluid(src='./img/bg/product_3.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90
					figure.item
						img.img-fluid(src='./img/bg/product_2.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90
					figure.item
						img.img-fluid(src='./img/bg/product_1.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90
					figure.item
						img.img-fluid(src='./img/bg/product_3.png', alt='sq-sample10')
						figcaption
							h4 Panna Cotta
							span.price $49.90


