section.canhcam-banner-1
	article.list-items
		.item(bg-img="./img/bg/bg-coffee.png")
			.title
				h1.h1 OUR STORY
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore
		.item(bg-img="./img/bg/bg-coffee.png")
			.title
				h1.h1 OUR STORY
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore
		.item(bg-img="./img/bg/bg-coffee.png")
			.title
				h1.h1 OUR STORY
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore
