section.canhcam-boxes-2(bg-img="./img/bg/header.png")
	article.container
		.row
			.col.col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
				.title
					h1 Sam's
					p Food. First & Foremost
					a.btn.btn-lg(href="#") ABOUT US
section.reser(bg-img="./img/bg/behind.jpg")
	.container
		.row
			.col
				.bg-img
					h2 RESERVATION
					img.img-fluid(src="./img/bg/frame1.png", alt="")
					a(href="#")
						button.btn CHECK AVAILABILITY 
				//- 	input#datepicker(type="text", placeholder="PostCode")

				//- 	legend.time
				//- 		label(for="start") 
				//- 		input#start(type="time" name="trip" value="10:00" min="00:00" max="23:59")
				//- form
				//- 	input(list="browsers" name="browser")
				//- 	datalist#browsers
				//- 		option(value="Dessert")
				//- 		option(value="Light Meal")
				//- 		option(value="Main Dish")
				//- 		option(value="Veterian")

		.row.intro
			.col-6.first.bg
				.title
					h3 OUR CHEFS
					//- h4 wwwwwwww
					p
						br
						| Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore alias sint vero nam facere dsfg sfs dfg sdf sdfsadf asd fas df
			.col-6.second
				img.img-fluid(src="./img/bg/our-chef.png", alt="")
		.row.intro
			.col-6.first
				img.img-fluid(src="./img/bg/coffe.png", alt="")
			.col-6.second.bg-2
				.title
					//- h4 wwwwwwwww 
					p
						br
						| Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore alias sint vero nam facere asdf asdf as df asdfasdf asd
					a(href="#")
						button.btn READ MORE
		

